html {
  box-sizing: border-box;
}

body {
  background-color: #49525c;
  margin: 0;
  height: 100vh;
}

img {
  max-height: 204px;
  position: absolute;
  top: 0;
  left: 0;
}

.east {
  transform: rotate(0);
}

.south {
  transform: rotate(90deg);
}

.west {
  transform: rotate(180deg);
}

.north {
  transform: rotate(-90deg);
}

.east,
.south,
.west,
.north {
  transition-duration: 200ms;
  transition-property: transform;
}
